<div class='login_head'>
  <%# <i class="fa fa-arrow-left" style='color: white; font-weight: light;'></i> %>
  <%= link_to 'BACK', root_path %>
  <h3>REGISTER</h3>
  <p>Next</p>
</div>

<div class='form-div'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <%= f.text_field :name, placeholder: 'Full name' %>

    <%= f.email_field :email, placeholder: 'Email' %>
  
    <%= f.password_field :password, placeholder: 'Password' %>
  
    <%= f.submit "Sign up" %>
  <% end %>
</div>
