<div class='login_head'>
  <i class="fa fa-arrow-left" style='color: white; font-weight: light;'></i>
  <h3>REGISTER</h3>
  <p>Next</p>
</div>

<div class='form-div'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.text_field :name, placeholder: 'Full name' %>
    </div>
  
    <div class="field">
      <%= f.email_field :email, placeholder: 'Email' %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
