<div class="entity-row" id="<%= dom_id entity %>">
  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Transaction #</strong>
    <%= entity.id %>
  </p>

  <p>
    <strong>Created At</strong>
    <%= entity.created_at %>
  </p>

  <p>
    <strong>TOTAL PAYMENT:</strong>
    $<%= entity.amount %>
  </p>

</div>