<div class="group-item" id="<%= dom_id group %>">
  <img class="group-image" src="<%= group.icon %>" alt=<%= group.name %>/>
  <div class="group-details">
    <p>
      <%= group.name %>
    </p>

    <p>
      $<%= group.total_amount %>
    </p>
  </div>
</div>